{% extends 'base.html' %}
{% block content %}   
{% for fp in feature_post %} 
 {% if forloop.first %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{fp.featured_image.url}});background-blend-mode: overlay;background-size:cover;">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic"><a href="{% url 'blog' fp.slug %}" style="color: #fff; text-decoration: none;">{{fp.title}}</a></h1>
      <p class="lead my-3">{{ fp.short_desc | truncatewords:25 }}</p>
      <p class="lead mb-0"><a href="{% url 'blog' fp.slug %}" class="text-white font-weight-bold" style="text-decoration: none;">Continue reading...</a></p>
    </div>
  </div>
  {% endif %}
{% endfor %}
<!-- Feature Post -->
<div class="row">
  <div class="col-12">
    <h2 class="blog-post-title text-warning">Feature Post</h2>
  </div>
</div>
  <div class="row mb-2">
    {% for fp in feature_post%}
      {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blog' fp.slug %}" style="color: #010101; text-decoration: none;">{{fp.title}}</a></h3>
          <small class="mb-1 text-muted">{{fp.created_at | timesince}} | {{fp.author}}</small>
          <p class="card-text">{{ fp.short_desc | truncatewords:10 }}</p>
        </div>
      </div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
<!-- END-Feature Post -->
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-12">
        <h2 class="blog-post-title text-warning">Recent Article</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 blog-main">
        {% for s_post in simple %}
        <div class="card border-0" >
          <div class="card-body">
            <h3><a href="{% url 'blog' s_post.slug %}" style="color: #010101; text-decoration: none;">{{s_post.title}}</a></h3>
            <small class="mb-1 text-muted">{{s_post.created_at | timesince}} | {{s_post.author}}</small>
            <p class="card-text">{{s_post.short_desc | truncatewords:20}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">{{about.about_heading}}</h4>
          <p class="mb-0">{{about.abou_desc}}</p>
        </div>
        {% if sociallink %}
        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            {% for i in sociallink %}
            <li><a href="{{i.links}}" target="_blank">{{i.platfrom}}</a></li>
            {% endfor %}
          </ol>
        </div>
        {% endif %}
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>
{% endblock %}