{% extends 'base.html' %}
{% block content %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{Sblog.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{Sblog.created_at}} by {{Sblog.author}} </div>
                    <!-- Post category-->
                    <a class="badge bg-warning text-decoration-none text-light" href="">{{Sblog.Category}} </a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{Sblog.featured_image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{Sblog.short_desc}}</p>
                    <p class="fs-5 mb-4">{{Sblog.blog_body | safe}}</p>
                    <!-- Comments -->
                    <h4>Comments ({{count}})</h4>
                    {% if comments %}
                     {% for comment in comments %}
                     <div class="card" style="margin-bottom: 10px;">
                        <div class="card-body">
                            <p class="card-text" style="margin-bottom: 0;">
                                {{comment | safe}}
                            </p>
                            <span>
                                <small>By {{comment.user}} |</small>
                                <small>{{comment.created_at | timesince}} ago</small>
                            </span>
                        </div>
                     </div>
                     {% endfor %}
                    {% else %}
                     No comments yet.
                    {% endif %}
                    <br>
                    <div class="form-group">
                        {% if user.is_authenticated %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <textarea style="margin-bottom: 10px;" name="comment" class="form-control" rows="5" placeholder="Write a comment"></textarea>
                            <input type="submit" value="Submit"  class="btn btn-primary">
                        </form>
                        {% else %}
                        <p>Please <a href="{% url 'login' %}">Login</a> to write a comment</p>
                        {% endif %}
                    </div>
                    </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">           
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in categories %}
                                <li><a href="{% url 'CategoryPost' cat.id %}">{{cat.category_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            {% if sociallink %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for i in sociallink %}
                    <li><a href="{{i.links}}" target="_blank">{{i.platfrom}}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}